.carousel-caption {
    text-align: initial;
    left: 0;
    padding: 7px;
    font-family: myfont;
    margin-bottom: 50px;
    opacity: 0.8;
    font-size: 38px;
    background-color: black;
    width: 471px;
}

.carousel-inner a {
    text-decoration: none;
}

@font-face {
    font-family: myfont;
    src: url(font.ttf);
}

#date {
    background-image: url(event-bg.jpg);
    padding: 20px 0px;
}

body {
    font-family: myfont;
}

.menuleft {
    height: 200px;
    position: absolute;
    width: 100%;
    background-color: white;
}

#head {
    font-size: 36px;
    margin-top: 124px;
    color: white;
    font-family: myfont;
}

h1 {
    color: #396;
    font-weight: 100;
    /*    font-size: 40px;
    margin: 40px 0px 20px;
*/
}

.mainhead {
    position: absolute;
}

.icons {
    width: 100%;
    height: 20px;
    position: absolute;
    border-bottom-width: 2px dashed white;
}

.link {
    margin-top: 40px;
}

#watch {
    margin-left: -121px;
}

#countdown {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
    margin-top: 50px;
}

#countdown li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
}

#countdown li:last-child {
    margin-right: 0;
}

#countdown li span {
    display: block;
    font-size: 40px;
    font-weight: 700;
    height: 82px;
    line-height: 79px;
    width: 75px;
    border-radius: 10px;
    border-right: 1px solid #9e3e2e;
    border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
    background-color: #45b29d;
    border-top: 1px solid #6ac1b1;
    border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
    background-color: #efc94c;
    border-top: 1px solid #f2d470;
    border-left: 1px solid #f2d470;
}

#countdown li .minutes {
    background-color: #e27a3f;
    border-top: 1px solid #e89565;
    border-left: 1px solid #e89565;
}

#countdown li .seconds {
    background-color: #df5a49;
    border-top: 1px solid #e57b6d;
    border-left: 1px solid #e57b6d;
}

#countdown li:before {
    background-color: #FFFFFF;
    content: "";
    height: 11px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 1px;
}

#countdown li:after {
    background-color: #FFFFFF;
    content: "";
    height: 11px;
    right: 0;
    position: absolute;
    top: 36px;
    width: 1px;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.event ul li {
    display: inline;
    text-decoration: none;
    margin-right: 10px;
    list-style-type: none;
    height: 300px;
    width: 100%;
}

.event ul li img {
    width: 100%;
}

.event ul {
    margin-left: -38px;
    margin-top: 30px;
    height: 320px
}

.event {
    padding: 55px 0px;
    font-family: myfont;
    color: white;
    font-size: 30px;
    margin-left: -11px;
}

.guitar {
    right: 33px;
    position: absolute;
    */
}

.event img {
    width: 30%
}

.about1 {
    background-image: url(guitar2.jpg);
    height: 454px;
    width: 50%;
    background-size: contain;
    float: left;
}

.about2 {
    height: 454px;
    color: white;
    background-image: url(about-bg.jpg);
    background-size: cover;
    padding: 90px;
    font-size: 17px;
}

.about2 h1 {
    color: white;
}

#twitter {
    background-image: url(twitter-bg.jpg);
    margin-left: -31px;
}

#twitter img {
    padding: 18px 0px;
}

.twitmed {
    text-align: center;
    padding: 80px;
    font-size: 21px;
    text-decoration: none;
}

.twitmed a:hover {
    text-decoration: none;
}

#sponsors {
    background-image: url(sponsor-bg.jpg);
    padding: 92px;
    height: 450px;
}

.body {
    font-family: myfont;
}

#performers {
    background-image: url(performar-bg.jpg);
}

.sponsors {
    margin-top: 40px;
}

#form {
    background-image: url(contact-bg.jpg);
    font-size: 21px;
}

.contacts {
    padding: 40px;
}

#form img {
    margin-left: -31px;
}

.form1 {
    background: transparent;
}

.input {
    height: 44px;
    width: 440px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 0;
}

.form3 {
    padding-top: 70px;
}

.form3 .b {
    height: 100px;
}

#footer {
    background-image: url(footer-bg.jpg);
    text-align: center;
    color: white;
    padding: 20px;
    font-family: myfont;
    font-size: 22px;
}

.copyrights {
    color: orange;
}

.custombtn {
    background-color: #137c61;
    color: #fff;
    text-transform: capitalize;
    border: none;
    margin-top: 28px;
    border-radius: 0;
    font-size: 20px;
}

.custombtn:hover {
    background-color: #126D55;
}
