body{
	background-color: #953E46;
}
.head{
	border: 2px dashed white;
	height: 100px;
}
.left{
	border: 2px dashed white;
	height: 100px
}
.right{
	border: 2px dashed white;
	height: 100px;
		background-color: #953E46;
}
.menu{
	border: 2px dashed white;
	height: 40px;
}
.videoleft{
	border: 2px dashed blue;
	height: 600px;
}